#header {
  background: yellow;
  font-size: 2rem;
  display: grid;
  overflow: hidden;
  justify-items: center;
  ;
}
.text-header{
  margin: 5vh;
  margin-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 11vh;
  font-size: 1.3rem;
  background: rgb(226, 226, 226);
  display: inline-block;
  border: solid black;
  border-radius: 4px;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10vh;
  margin-bottom: 10vh;
  font-size: 1.1rem;
  background: silver;
  display: grid;
  padding: 2vh;
  border: black solid 2px;
  width: 60vh;
}
label {
  display: block;
  padding: 5px;
}
input {
  font-size: 1rem;
}
.solicitation {
  margin: 2vh;
}
.button-form {
  cursor: pointer;
}
#texto {
  height: 25vh;
  width: 52vh;
  text-align: initial;
  display: grid;
}
#mensagem {
  display: flexbox;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  padding-bottom: 50px;
}
.buttonPrimary {
  display: flexbox;
  background: yellow;
  color: green;
  padding: 5px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.box {
  margin: 50px;
  height: 100px;
  width: 1000px;
  display: block;
  text-align: center;
}
#form {
  border: solid black;
  height: 90vh;
  width: 100vh;
  margin: 5vh;
  background: silver;
}