html {
  font-family: Arial;
}

.menu a {
  float: left;
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none
}
.menu  {
  overflow: hidden;
  background-color: gold;
}
.menu a:hover {
  background-color: greenyellow;
  color: red;
}
.products {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
}
.item {
  background-color: gold;
  padding: 20px;
  height: 300px;
  width: 250px;
  margin: 10px;
  border-radius: 4px;
  place-items: start;
  gap: 10px;
}

.header-item {
  justify-content: space-between;
  align-items: center;

}
.header-item .title {
  text-decoration: underline;
  background: yellowgreen;
  padding: 5px;
  border-radius: 5px;
  border: solid black 1px;
}

.box-image {
  max-width: 200px;
  max-height: 150px;
}
.content-body {
  display: flex;
  padding-top: 10px;
  text-align: start;
  margin-bottom: 10px;
}

.linha-carta {
  border-bottom: 1px dotted black;
  margin: 5px;
  padding-bottom: 4px;

}

.box-linha {
  padding: 6px;
  background-color: rgb(236, 184, 87);
  border-radius: 4px;
}
